<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Lyrics</title>
</head>

<style type="text/css">
textarea.custom_style
{
    height: 550px;
    width: 400px;
}
</style>

<body>
<div align="center">
    <form action="result" method="post">
        <h1>Input your lyrics:</h1>
        <textarea class="custom_style" name="lyrics"></textarea><br/>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </form>
</div>
</body>
</html>